.about-us {
  padding-top: 12px;
}

.about-us__wrapper {
  min-width: 260px;
  max-width: 668px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.about-us__headline {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  list-style: none;
}

.about-us__item {
  position: relative;
  min-height: 40px;
  margin-bottom: 33px;
  padding-top: 50px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.about-us__icon {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  display: block;

  &--flower {
    width: 32px;
    height: 37px;
  }

  &--money {
    width: 47px;
    height: 27px;
  }

  &--heart {
    width: 34px;
    height: 27px;
  }

  &--ball {
    width: 35px;
    height: 34px;
  }

  &--rocket {
    width: 55px;
    height: 23px;
  }

  &--gift {
    width: 33px;
    height: 32px;
  }
}

@media (min-width: @tablet-width) {
  .about-us {
    margin-bottom: 22px;
  }

  .about-us__wrapper {
    padding-top: 13px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .about-us__headline {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    flex-direction: row;
    margin: 0 auto;
  }

  .about-us__item {
    width: calc(50% - 15px);
    margin-bottom: 62px;
    padding-right: 15px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: @desktop-width) {
  .about-us__wrapper {
    width: 700px;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
  }

  .about-us__headline {
    font-size: 53px;
    line-height: 57px;
  }
}
