.about-us {
  .container-mobile();
  padding-top: 4px;
}

.about-us__wrapper {
  max-width: 668px;
  margin: 0 auto;
}

.about-us__headline {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  list-style: none;
}

.about-us__item {
  position: relative;
  min-height: 40px;
  margin-bottom: 33px;
  padding-top: 50px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  &--money {
    order: 3;
  }

  &--heart {
    order: 5;
  }

  &--ball {
    order: 2;
  }

  &--rocket {
    order: 4;
  }

  &--gift {
    order: 6;
  }
}

.about-us__icon {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  display: block;

  &--flower {
    left: 9px;
    width: 32px;
    height: 37px;
  }

  &--money {
    left: 0;
    width: 47px;
    height: 27px;
  }

  &--heart {
    width: 34px;
    height: 27px;
  }

  &--ball {
    width: 35px;
    height: 34px;
  }

  &--rocket {
    left: -6px;
    width: 55px;
    height: 23px;
  }

  &--gift {
    width: 33px;
    height: 32px;
  }
}

@media (min-width: @tablet-width) {
  .about-us {
    margin-bottom: 22px;
    .container-tablet();
    padding-top: 48px;
  }

  .about-us__headline {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    flex-direction: row;
    margin: 0 auto;
    padding-top: 53px;
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 62px;
    padding-right: 15px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    .container-desktop-with-padding-left();
    padding-top: 55px;
    padding-right: 225px;
    padding-bottom: 25px;
  }

  .about-us__wrapper {
    max-width: 100%;
    padding: 0;
  }

  .about-us__headline {
    font-size: 53px;
    line-height: 57px;
  }
}
