.color {
  position: relative;
  min-width: 260px;
  border: none;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: calc(100% - 124px);
    height: 1px;
    left: 94px;
    top: 8px;
    background-color: #63d1bb;
  }
}

.color__list {
  padding: 0;
}

.color__legend {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
}

.color__option {
  position: relative;
  display: block;
  min-height: 55px;
  font-size: 17px;
  line-height: 18px;
  list-style: none;
  color: #000000;
  font-weight: 700;
  padding-left: 63px;
  padding-top: 5px;
}

.color__option input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  display: block;
  width: 43px;
  height: 43px;
  left: 0;
  top: -3px;
  vertical-align: top;
  background-image: url(../img/icon-checkbox-sprite.png);
  background-repeat: no-repeat;
}

.color__option input[type="checkbox"]:checked + label::before {
  background-position: -75px 0;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .color {
    position: relative;
    min-width: 668px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 65px;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f1f1f1;

    &::before {
      display: none;
    }
  }

  .color__legend {
    position: absolute;
    top: 53px;
    left: 50px;
  }

  .color__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25%;
  }

  .color__option {
    width: calc(37% - 63px);
  }
}

@media (min-width: @desktop-width) {
  .color__list  {
    width: 875px;
    margin: 0 auto;
    padding-left: 175px;
  }

  .color__legend {
    left: calc(50% - 462px);
  }
}
