.contacts {
  position: relative;
  padding-top: 23px;
  margin-bottom: 40px;
}

#contacts__map {
  position: absolute;
  width: 100%;
  height: 458px;
  bottom: 90px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.contacts__headline {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__list {
  padding-bottom: 524px;
  line-height: 30px;
}

.contacts__field {
  width: 66px;
  padding-top: 15px;
  padding-bottom: 10px;
  vertical-align: top;
}

.contacts__value {
  min-width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts__button {
  display: inline-block;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 2px solid #444444;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .contacts {
  padding-top: 19px;
  margin-bottom: 0;

    &::before {
      background-image: url("../img/map-tablet@1x.jpg");
    }
  }

  .contacts__wrapper {
    min-width: 668px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0;
  }
  .contacts__headline {
    position: relative;
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 46px;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      top: -15px;
      right: 0;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__list {
    width: 100%;
    padding-bottom: 538px;
  }

  .contacts__list tbody {
    display: flex;
  }

  .contacts__line {
    width: 46%;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 15px;

    &:nth-child(odd) {
      margin-right: 24px;
    }
  }

  .contacts__field,
  .contacts__value {
    padding-top: 0;
  }

  .contacts__button {
    margin: 0 auto;
    font-size: 17px;
    margin-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #contacts__map {
    bottom: 160px;
  }

}

@media (min-width: @desktop-width) {
  .contacts::before {
    display: none;
  }

  .contacts__wrapper {
    width: 925px;
    min-height: 485px;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 77px;
    padding-top: 94px;
    padding-left: 175px;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 525px;
      height: 457px;
      right: calc(50% - 525px);
      background-image: url("../img/map-desktop@1x.jpg");
    }
  }

  .contacts__headline {
    font-size: 53px;
    line-height: 57px;
    margin-top: 69px;

    &::before {
      top: -8px;
      left: -62px;
    }
  }

  .contacts__list {
    position: relative;
    margin-bottom: 49px;
    padding-bottom: 0;
  }

  .contacts__list tbody {
    flex-direction: column;
  }

  .contacts__line {
    width: 100%;
  }

  .contacts__field {
    width: 72px;
  }

  .contacts__button {
    display: block;
    width: 125px;
    margin: 0;
    margin-left: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .contacts__headline,
  .contacts__list {
    width: 350px;
    padding-left: 45px;
  }

  #contacts__map {
    width: 525px;
    height: 457px;
    bottom: 28px;
    right: 50px;
  }
}
