.contacts-form {
  position: relative;
  min-width: 260px;
  border: none;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: calc(100% - 124px);
    height: 1px;
    left: 94px;
    top: 8px;
    background-color: #63d1bb;
  }
}

.contacts-form {
  margin-bottom: 29px;
}

.contacts-form__list {
  margin: 0;
  padding: 0;
}

.contacts-form__option {
  font-size: 17px;
  line-height: 18px;
  list-style: none;
  color: #000000;
  font-weight: 700;
  padding: 0;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-form__legend {
  margin-bottom: 30px;
}

.contacts-form__option--green {
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: calc(100% - 62px);
    height: 1px;
    left: 62px;
    top: 8px;
    background-color: #63d1bb;
  }
}

.contacts-form__legend {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
}

.contacts-form__input {
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid #444444;
}

@media (min-width: @tablet-width) {
  .contacts-form {
    position: relative;
    min-width: 668px;
    margin-bottom: 55px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;

    &::before {
      display: none;
    }
  }

  .contacts-form__legend {
    position: absolute;
    top: 19px;
    left: 50px;
  }

  .contacts-form__list{
    padding-left: 25%;
  }

  .contacts-form__option {
    position: relative;
    font-size: 19px;
    line-height: 18px;
  }

  .contacts-form__option--label {
    position: absolute;
    top: 16px;
    left: 0;
  }

  .contacts-form__input--name {
    width: calc(100% - 72px);
    margin-left: 72px;
    padding-left: 16px;
  }
  .contacts-form__input--mname,
  .contacts-form__input--surname {
    width: calc(100% - 126px);
    margin-left: 126px;
    padding-left: 16px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-form__list  {
    width: 682px;
    margin: 0 auto;
    padding-left: 175px;
    padding-right: 199px;
  }

  .contacts-form__legend {
    left: calc(50% - 462px);
  }
}
