.cute-stuff {
  position: relative;
  z-index: 10;
  min-width: 100%;
  min-height: 465px;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
}

.cute-stuff__headline {
  position: relative;
  z-index: 100;
  min-height: 90px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.cute-stuff__list {
  position: relative;
  padding-top: 95px;
  padding-left: 0;

  &::before {
    content: "";
    position: absolute;
    top: -158px;
    left: calc(50% - 154px);
    z-index: -1;
    display: block;
    height: 253px;
    min-width: 314px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: -135px -46px;
  }
}

.cute-stuff__item {
  min-width: 320px;
  min-height: 104px;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

.cute-stuff__item--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 185px);
  padding-top: 27px;
  padding-right: 155px;
  padding-bottom: 28px;
  padding-left: 30px;
  color: #ffffff;
}


.cute-stuff__item--light {
  position: relative;
  background-color: #63d1bb;
}

.cute-stuff__interior {
  content: "";
  position: absolute;
  top: 23px;
  right: 35px;
  display: block;
  width: 40px;
  height: 62px;
  opacity: 0.5;
}

.cute-stuff__item--white-hover:hover {
  padding-top: 25px;
  box-shadow: 0 -5px 0 0 #63d1bb;
}

.cute-stuff__item--white-hover:hover .cute-stuff__interior {
  top: 18px;
}

.cute-stuff__item--wrapper:hover .cute-stuff__interior,
.cute-stuff__item--wrapper:hover .cute-stuff__toy {
  opacity: 0.7;
}

.cute-stuff__item--wrapper:active {
  color: #97e2d2;
}

.cute-stuff__item--wrapper:active .cute-stuff__interior,
.cute-stuff__item--wrapper:active .cute-stuff__toy {
  opacity: 0.3;
}

.cute-stuff__item--dark {
  position: relative;
  background-color: #56c3b2;
}

.cute-stuff__toy {
  content: "";
  position: absolute;
  top: 20px;
  right: 25px;
  display: block;
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.cute-stuff__item--dark-hover:hover {
  padding-top: 25px;
  box-shadow: 0 -5 0 0 #56c3b2;
}

.cute-stuff__item--dark-hover:hover .cute-stuff__toy {
  top: 15px;
}

@media (min-width: @tablet-width) {
  .cute-stuff {
    min-width: 668px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .cute-stuff__headline {
    margin-top: 0;
    padding-top: 80px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 43px;
    line-height: 50px;
  }

  .cute-stuff__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 337px;
  }

  .cute-stuff__list::before {
    content: "";
    position: absolute;
    top: -241px;
    left: calc(50% - 334px);
    z-index: -1;
    display: block;
    height: 630px;
    min-width: 668px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: -240px -50px;
  }

  .cute-stuff__item {
    position: relative;
    width: 50%;
    padding-bottom: 3px;
    padding-left: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .cute-stuff__item--wrapper {
    width: calc(100% - 180px);
    margin: 0;
    padding-right: 149px;
    padding-left: 36px;
  }

  .cute-stuff__wrapper::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: calc(100% - 100px);
    height: 16px;
    background-image: url("../img/bg-zigzag-fill.svg");
  }
}

@media (min-width: @desktop-width) {
  .cute-stuff {
    min-width: 1050px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .cute-stuff__headline {
    width: 700px;
    margin: 0 auto;
    font-size: 53px;
    line-height: 57px;
  }

  .cute-stuff__list {
    width: 1050px;
    min-height: 120px;
    padding-top: 356px;

    &::before {
      top: -223px;
    }
  }

  .cute-stuff__item--wrapper {
    width: 140px;
    padding-right: 349px;
  }
}
