.form__order {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.form__container {
  min-width: 260px;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;
}

.form__headline {
  min-width: 260px;
  margin: 0;
  margin-bottom: 27px;
  padding-top: 70px;
  padding-right: 30px;
  padding-bottom: 70px;
  padding-left: 30px;
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 64px;
    display: block;
    width: calc(100% - 64px);
    height: 1px;
    background-color: #63d1bb;
  }

  &--email::before {
    left: 81px;
    width: calc(100% - 81px);
  }

  &--tel,
  &--email {
    margin-bottom: 25px;
    padding-top: 8px;
  }

  &--add {
    padding-top: 25px;
  }
}

.form__legend {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form__fieldset-list {
  margin: 0;
  padding: 0;
}

.form__option {
  position: relative;
  display: block;
  min-height: 55px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 63px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  list-style: none;

  &--contacts {
    margin-bottom: 25px;
    padding-top: 0;
    padding-left: 0;
  }
}

.form__checkbox {
  position: absolute;
  box-shadow: 0 0 0 0.1em #444444;

  &--type {
    width: 2em;
    height: 2em;
    margin-top: -0.3em;
    margin-left: -3.5em;
    border-radius: 50%;
  }

  &--color {
    width: 2.2em;
    height: 2.2em;
    margin-top: -0.5em;
    margin-left: -3.7em;
  }
}

.form__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
}

.form__input--type:checked + .form__checkbox--type {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 53.8 53.8' enable-background='new 0 0 53.8 53.8' xml:space='preserve'%3E%3Ccircle id='Shape_1_copy_5' fill='%2362d1ba' fill-opacity='1' cx='26.9' cy='26.9' r='10.4'/%3E%3C/svg%3E");
}

.form__input--color:checked + .form__checkbox--color {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 53.8 53.8' enable-background='new 0 0 53.8 53.8' xml:space='preserve'%3E%3Cline fill='none' stroke='%23444444' stroke-width='2' stroke-miterlimit='10' x1='11.6' y1='26.3' x2='22.5' y2='36.9'/%3E%3Cline fill='none' stroke='%23444444' stroke-width='2' stroke-miterlimit='10' x1='42.8' y1='16.3' x2='22.1' y2='36.6'/%3E%3C/svg%3E");
}

.form__input:hover + .form__checkbox,
.form__input:focus + .form__checkbox {
  box-shadow: 0 0 0 0.1em #62d1ba;
}

.form__input:active + .form__checkbox {
  box-shadow: 0 0 0 0.1em #c7c7c7;
}

.form__icon {
  content: "";
  position: absolute;
  top: 35px;
  right: 5px;
  display: block;
  opacity: 0.2;

  &--tel {
    width: 25px;
    height: 25px;
  }

  &--mail {
    width: 32px;
    height: 26px;
  }
}

.form__textarea {
  width: 100%;
  min-height: 140px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #444444;
}

.form__text {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}

.form__small-text {
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  width: 100%;
  margin-top: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .form__order {
    margin-bottom: 58px;
  }

  .form__headline {
    position: relative;
    margin-bottom: 80px;
    padding-top: 21px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      display: block;
      width: 100%;
      height: 15px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .form__background {
    background-color: #f1f1f1;
  }

  .form__container {
    min-width: 668px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  .form__fieldset {
    position: relative;

    &::before {
      display: none;
    }

    &--tel,
    &--email,
    &--add {
      padding-left: 25%;
    }
  }

  .form__legend {
    position: absolute;
    top: 15px;
    left: 50px;
    margin-top: 12px;
  }

  .form__fieldset-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25%;

    &--type {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .form__option {
    padding-left: 80px;
    font-size: 19px;
    line-height: 18px;

    &--color {
      width: 39%;
      margin-bottom: 6px;

      &:nth-child(odd) {
        margin-right: 60px;
      }
    }

    &--contacts {
      width: 100%;
    }

    &--surname {
      padding-left: 127px;
    }
  }

  .form__label {
    position: absolute;
    top: 16px;
    left: 0;
  }

  .form__checkbox {
    width: 2.5em;
    height: 2.5em;
    margin-top: -0.7em;
    margin-left: -4em;
  }

  .form__text {
    margin-bottom: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__input--tel,
  .form__input--mail {
    background-color: #f1f1f1;
  }

  .form__icon {
    top: 9px;
  }

  .form__sup-button {
    display: flex;
    flex-direction: row-reverse;
  }

  .form__button {
    width: 230px;
    margin-top: 0;
    margin-right: auto;
  }

  .form__small-text {
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form__container {
    width: 1050px;
    margin: 0 auto;
  }

  .form__headline {
    margin-bottom: 123px;
    padding-bottom: 97px;
    font-size: 53px;
    line-height: 57px;
  }

  .form__option--color {
    width: 29%;
    margin-right: 26px;

    &:nth-child(odd) {
      margin-right: 26px;
    }
  }

  .form__text {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 67px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__order {
    margin-bottom: 63px;
  }

  .form__sup-button {
    padding-left: 25%;
  }
}
