.form-email {
  position: relative;
  min-width: 260px;
  margin-bottom: 35px;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 94px;
    display: block;
    width: calc(100% - 124px);
    height: 1px;
    background-color: #63d1bb;
  }

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 37px;
    display: block;
    width: 32px;
    height: 26px;
    background-image: url("../img/icon-mail.svg");
    opacity: 0.2;
  }
}

.form-email__legend {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form-email__input {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #444444;
}

@media (min-width: @tablet-width) {
  .form-email {
    position: relative;
    min-width: 668px;
    margin-right: 0;
    margin-left: 0;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 49px;
    padding-left: 50px;

    &::before {
      display: none;
    }

    &::after {
      right: 72px;
    }
  }

  .form-email,
  .form-email__input {
    background-color: #f1f1f1;
  }

  .form-email__input {
    width: 73%;
    margin-left: 25%;
    padding-left: 16px;
    font-size: 19px;
    line-height: 18px;
  }

  .form-email__legend {
    position: absolute;
    top: 40px;
    left: 50px;
  }
}

@media (min-width: @desktop-width) {
  .form-email {
    margin-bottom: 50px;
    padding-left: 50px;

    &::after {
      right: calc(50% - 345px);
    }
  }

  .form-email__input {
    display: block;
    width: 685px;
    margin: 0 auto;
  }

  .form-email__legend {
    left: calc(50% - 462px);
  }
}
