.form__order {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.form__container {
  padding-top: 30px;
  padding-bottom: 10px;
  .container-mobile();
}

.form__headline {
  min-width: 260px;
  margin: 0;
  padding-top: 70px;
  padding-right: 30px;
  padding-bottom: 75px;
  padding-left: 30px;
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 64px;
    display: block;
    width: calc(100% - 64px);
    height: 1px;
    background-color: #63d1bb;
  }

  &--email::before {
    left: 81px;
    width: calc(100% - 81px);
  }

  &--tel,
  &--email {
    margin-bottom: 25px;
    padding-top: 8px;
  }

  &--add {
    padding-top: 25px;
  }
}

.form__legend {
  margin-bottom: 15px;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form__fieldset-list {
  margin: 0;
  padding: 0;
}

.form__option {
  position: relative;
  display: block;
  min-height: 55px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 63px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  list-style: none;

  &--contacts {
    margin-bottom: 25px;
    padding-top: 0;
    padding-left: 0;
  }
}

.form__fieldset--hover:hover .input,
.form__fieldset--add:hover .textarea,
.form__option:hover .input {
  border-color: #62d1ba;
}

.form__fieldset--hover:hover .form__icon,
.form__fieldset--hover:focus .form__icon,
.form__fieldset--hover:active .form__icon {
  fill: #62d1ba;
  opacity: 1;
}

.form__icon {
  content: "";
  position: absolute;
  top: 35px;
  right: 5px;
  display: block;
  opacity: 0.2;

  &--tel {
    width: 25px;
    height: 25px;
  }

  &--mail {
    width: 32px;
    height: 26px;
  }
}

.form__text {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}

.form__sup-button {
  display: flex;
  flex-direction: column;
}

.form__small-text {
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  width: 100%;
  margin-top: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .form__order {
    margin-bottom: 58px;
  }

  .form__headline {
    position: relative;
    padding-top: 21px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      display: block;
      width: 100%;
      height: 15px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .form__container {
    padding-top: 50px;
    padding-bottom: 50px;
    .container-tablet();

    &--gray {
      background-color: #f1f1f1;
    }
  }

  .form__fieldset {
    position: relative;
    flex-direction: row;

    &::before {
      display: none;
    }
  }

  .form__legend {
    width: 25%;
    min-width: 0;
  }

  .form__fieldset-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    flex-grow: 1;
  }

  .form__option {
    padding-left: 80px;
    font-size: 19px;
    line-height: 18px;

    &--color {
      width: 39%;
      margin-bottom: 6px;

      &:nth-child(odd) {
        margin-right: 60px;
      }
    }

    &--contacts {
      width: 100%;
    }

    &--surname {
      padding-left: 127px;
    }
  }

  .form__label {
    position: absolute;
    top: 16px;
    left: 0;
  }

  .form__checkbox {
    width: 2.5em;
    height: 2.5em;
    margin-top: -0.7em;
    margin-left: -4em;
  }

  .form__text {
    margin-bottom: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__icon {
    top: 9px;
  }

  .form__sup-button {
    flex-direction: row-reverse;
  }

  .form__button {
    width: 230px;
    margin-top: 0;
    margin-right: auto;
  }

  .form__small-text {
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .form__headline {
    padding-bottom: 97px;
    font-size: 53px;
    line-height: 57px;
  }

  .form__legend {
    width: 175px;
    padding-left: 66px;
  }

  .form__icon {
    right: 100px;
  }

  .form__option--color {
    width: 29%;
    margin-right: 26px;

    &:nth-child(odd) {
      margin-right: 26px;
    }
  }

  .form__fieldset-list--type {
    flex-direction: column;
  }

  .form__text {
    padding-left: 175px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__order {
    margin-bottom: 63px;
  }

  .form__sup-button {
    padding-left: 175px;
  }
}
