.page-header {
  position: relative;
  margin: 0;
  color: #000000;
  background: linear-gradient(to bottom, #ffffff 88px, #e7e7e7 88px, #f9f9f9 89px);

  &--inner {
    background: linear-gradient(to bottom, #ffffff 88px, #e7e7e7 88px, #f1f1f1 89px);
  }
}

.page-header__wrapper {
  position: relative;
}

@media (min-width: @tablet-width) {

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    min-width: 668px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 88px;
  }

}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1050px;
    padding: 0;
  }
}
