.page-footer {
  display: flex;
  flex-direction: column;
  min-height: 160px;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.page-footer__logo--invis {
  display: none;
}

.page-footer__copyright {
  display: flex;
  padding-left: 38px;
}

.page-footer__copyright--text {
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  margin-right: 36px;
  padding-top: 5px;
}

.page-footer__copyright--link {
  display: block;
  width: 40px;
  height: 40px;
  fill: #46c1ae;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-height: 143px;
  }

  .page-footer__wrapper {
    width: calc(100% - 100px);
    max-width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo {
    width: 167px;
    min-height: 94px;
    margin-top: 54px;

  }

  .page-footer__logo--invis {
    display: block;
  }

  .page-footer__copyright {
    width: 190px;
    min-height: 86px;
    margin-top: 62px;
    padding-left: 10px;

    &--text {
      padding-left: 5px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo {
    margin-top: 51px;
  }

  .page-footer__copyright {
    margin-top: 58px;
  }
}
