.process-product__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 258px;
  margin-right: 30px;
  margin-bottom: 58px;
  margin-left: 30px;
  border: 1px solid #ededed;

  &:hover,
  &:focus {
    .background-shadow--hover();
  }

  &:active {
    .background-shadow--active();
  }
}

.process-product__headline {
  position: relative;
  margin-top: 22px;
  margin-bottom: 20px;
  padding-left: 90px;
  color: #000000;
  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 35px;
    display: block;
    width: 32px;
    height: 27px;
    background-image: url("../img/icon-video.svg");
  }
}

.process-product__video {
  position: relative;
  width: 100%;
}

.process-product__image {
  display: block;
  width: 100%;
  height: 100%;
}

.process-product__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  margin-top: -39px;
  margin-left: -50px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.process-product__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}

.process-product__text {
  margin-top: 27px;
  margin-bottom: 50px;
  padding-right: 20px;
  padding-left: 35px;
  font-size: 13px;
  line-height: 24px;
}

.process-product__order {
  margin-right: 33px;
  margin-bottom: 32px;
  margin-left: 33px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .process-product__wrapper {
    min-width: 668px;
    margin-right: 50px;
    margin-bottom: 74px;
    margin-left: 50px;
  }

  .process-product__headline {
    margin-top: 35px;
    padding-left: 104px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: -2px;
      left: 41px;
    }
  }

  .process-product__video {
    order: -1;
  }

  .process-product__text {
    margin-top: 12px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .process-product__order {
    margin-right: 41px;
    margin-left: 41px;
  }
}

@media (min-width: @desktop-width) {
  .process-product__wrapper {
    flex-wrap: wrap;
    width: 1050px;
    height: 455px;
    margin: 0 auto;
    margin-bottom: 105px;
    word-wrap: break-word;
  }

  .process-product__headline {
    width: 369px;
    max-height: 140px;
    padding-top: 60px;
    padding-right: 100px;
    padding-left: 80px;

    &::before {
      top: 7px;
      left: 80px;
    }
  }

  .process-product__video {
    flex: none;
    order: -1;
    width: 680px;
  }

  .process-product__description {
    width: 369px;
  }

  .process-product__text {
    margin-bottom: 35px;
    padding-left: 80px;
    overflow: auto;
  }

  .process-product__order {
    width: 230px;
    margin-right: 58px;
    margin-left: 80px;
  }
}
