.reviews {
  position: relative;
  margin-bottom: 50px;
  .container-mobile();
  padding-top: 5px;
  padding-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 7px;
    background-position-x: -8px;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reviews__text {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.reviews__login {
  margin: 0;
  font-weight: 400;
}

.reviews__headline {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
}

.reviews__author {
  padding-top: 28px;
  padding-bottom: 40px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.reviews__button {
  display: flex;
  min-width: 260px;
  margin-bottom: 38px;
}

.reviews__arrow {
  position: relative;
  width: 50%;
  height: 50px;
  padding: 0;
  border: 1px solid #ececec;
  background-color: #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__write {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;
    z-index: 200;
    padding-top: 75px;
    padding-bottom: 80px;
    .container-tablet();

    &::after {
      bottom: 0;
      height: 17px;
      min-width: 768px;
      background-size: 768px 17px;
      background-position-x: -20px;
    }
  }

  .reviews::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 350px;
    height: 457px;
    background-image: url("../img/review@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__wrapper {
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reviews__headline {
    flex: 1;
    order: 1;
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__write {
    order: 2;
    width: 175px;
    height: 26px;
    padding-top: 14px;
    padding-bottom: 34px;
  }

  .reviews__text {
    order: 3;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 60px;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    flex: 1;
    order: 4;
    padding: 0;
    font-style: normal;
  }

  .reviews__button {
    order: 5;
    width: 160px;
    min-width: 0;
    padding-right: 10px;
  }

  .reviews__arrow {
    width: 50px;
    border: none;
  }

  .reviews__arrow--prev {
    margin-right: 37px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding-top: 0;
    padding-bottom: 120px;
    .container-desktop-with-padding-left();

    &::before {
      display: none;
    }

    &::after {
      bottom: 4px;
      left: 50px;
      width: 1050px;
      height: 23px;
      background-size: 1050px 21px;
      background-position-x: -25px;
    }
  }

  .reviews__wrapper {
    padding-top: 72px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -175px;
      z-index: -1;
      display: block;
      width: 300px;
      height: 457px;
      background-image: url("../img/review@1x.jpg");
    }
  }

  .reviews__headline {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__author {
    margin-top: -15px;
  }

  .reviews__arrow::before {
    top: -5px;
    left: calc(50% - 20px);
  }

  .reviews__write {
    margin-top: 7px;
  }

  .reviews__text {
    padding-right: 80px;
  }
}
