.reviews__headline {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__text {
  line-height: 30px;
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.reviews__write {
  line-height: 20px;
  font-size: 18px;
}
