.social {
  margin-bottom: 18px;
  padding-left: 56px;
  padding-top: 15px;
}

.social__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.social__item {
  margin-right: 21px;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
}

@media (min-width: @tablet-width) {
  .social {
    width: 191px;
    min-height: 87px;
    margin-top: 42px;
    padding: 0;
    padding-left: 110px;
  }
}
