.textarea {
  width: 100%;
  min-height: 140px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #444444;
}

@media (min-width: @tablet-width) {
  .textarea {
    max-width: 75%;
  }
}
