.type {
  position: relative;
  min-width: 260px;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  &::before {
    position: absolute;
    display: block;
    content: '';
    width: calc(100% - 124px);
    height: 1px;
    left: 94px;
    top: 8px;
    background-color: #63d1bb;
  }
}

.type__list {
  margin-bottom: 10px;
  padding: 0;
}

.type__legend {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
}

.type__option {
  position: relative;
  display: block;
  min-height: 55px;
  font-size: 17px;
  line-height: 18px;
  list-style: none;
  color: #000000;
  font-weight: 700;
  padding-left: 63px;
  padding-top: 5px;
}

.type__checkbox {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: tomato;
}

.type__option input[type="radio"] + label::before {
  position: absolute;
  content: "";
  display: block;
  width: 52px;
  height: 52px;
  left: 0;
  top: -3px;
  vertical-align: top;
  border: 2px solid #444444;
  border-radius: 50%;
  background-size: 52px 52px;
  background-repeat: no-repeat;
}

.type__option input[type="radio"]:hover + label::before {
  border: 2px solid #62d1ba;
}

.type__option input[type="radio"]:active + label::before {
  border: 2px solid #c7c7c7;
}

.type__option input[type="radio"]:checked + label::before {
  background-size: 52px 52px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 53.8 53.8' enable-background='new 0 0 53.8 53.8' xml:space='preserve'%3E%3Ccircle id='Shape_1_copy_5' fill='%2362d1ba' fill-opacity='1' cx='26.9' cy='26.9' r='10.4'/%3E%3C/svg%3E");
}

  @media (min-width: @tablet-width) {
  .type {
    position: relative;
    min-width: 668px;
    margin-bottom: 19px;
    padding-left: 50px;
    padding-right: 50px;
    &::before {
      display: none;
    }
  }

  .type__legend {
    position: absolute;
    top: 0;
    left: 50px;
    margin-top: 23px;
  }

  .type__list {
    padding-left: 25%;
  }

  .type__option {
    margin-bottom: 15px;
  }

  .type__accessory {
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .type__list  {
    width: 875px;
    font-size: 19px;
    line-height: 18px;
    margin: 0 auto;
    padding-left: 175px;
  }

  .type__legend {
    left: calc(50% - 462px);
    top: -16px;
  }

  .type__option {
    padding-left: 80px;
  }
}

/*
          <ul class="type__list">
            <li class="type__option">
              <input class="visually-hidden type__input" type="radio" name="type" value="accessory" id="type__accessory"
                checked />
              <label for="type__accessory">
                Аксессуар для интерьера
              </label>
            </li>
            <li class="type__option">
              <input class="visually-hidden type__input" type="radio" name="type" value="toy" id="type__toy" />
              <label for="type__toy">
                Детская игрушка
              </label>
            </li>
          </ul>
*/
