.main-nav-link() {
  display: flex;
  padding: 27px 30px 27px 23%;
  border-bottom: 1px solid #ececec;
}

.background-shadow--hover() {
  transition: 0.3s;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.background-shadow--active() {
  transition: 0.3s;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.container-mobile() {
  min-width: 260px;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;
}

.container-tablet() {
  min-width: 668px;
  padding-right: 50px;
  padding-left: 50px;
}

.container-desktop() {
  width: 1150px;
  margin: 0 auto;
}

.container-desktop-with-padding-left() {
  width: 1150px;
  margin: 0 auto;
  padding-left: 225px;
}
