.lh-20px() {
  line-height: 20px;
}
.lh-24px() {
  line-height: 24px;
}
.lh-30px() {
  line-height: 30px;
}
.fs-17px() {
  font-size: 17px;
}
.fs-18px() {
  font-size: 18px;
}
.fs-25px() {
  font-size: 25px;
}
.fs-30px() {
  font-size: 30px;
}
.fw-400() {
  font-weight: 400;
}
.fw-700() {
  font-weight: 700;
}
.font-col-black() {
  color: #000000;
}
